.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2rem;
  margin-top: 1.5rem;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 1rem;
  
  @include breakpoint(tablet) {
    gap: 2.5rem;
  }
}

.menuItem {
  color: $primary-color;
  margin: 1rem 0;
  
  @include breakpoint(tablet) {
    color: white;
    margin: 0;
  }
}

.link {
  text-decoration: none;
  color: $primary-color;
  
  @include breakpoint(tablet) {
    color: white;
  }
}

.menuDesktop {
  display: none;

  @include breakpoint(tablet) {
    display: flex;
  }
}

.menuMobile {
  @include breakpoint(tablet) {
    display: none;
  }
}

.menuMobileIcon {
  cursor: pointer;
}

.backdrop {
  background: #0000001A;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.bottomSheet {
  width: 100%;
  position: fixed;
  bottom: -100%;
  left: 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  z-index: 1;
  transition: top $animation-timing, bottom $animation-timing;

  &Open {
    bottom: 0;
  }

  .menu {
    flex-direction: column;
  }
}
