.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}

.input {
  padding: 0.75rem;
  border: 1px solid #E7EAF4;
  border-radius: 0.25rem;

  &.error {
    border-color: red;
  }
}

.showPasswordIcon {
  position: absolute;
  right: 0.75rem;
  top: calc(50% - 0.5rem);
  cursor: pointer;
}

.hint {
  height: 1rem;
  font-size: 0.75rem;
}
