.main {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(90deg, white 50%, $primary-color 50%);
}

.container {
  width: calc(50% - 2*$container-margin);
  height: calc(100vh - $navbar-height);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-top: 0;
  margin-bottom: 3rem;
  width: 16rem;
  font-size: 3rem;
}

.banner {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
}