@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

/* CONSTANTS */

$primary-color: #f26b5b;
$breakpoints: (tablet: 768px, desktop: 992px, large: 1200px);

/* MIXINS */

@mixin breakpoint($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}

/* GLOBAL STYLES */

body {
  font-family: Fira Sans;
}

body, html {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: 8.75rem;
  margin-right: 8.75rem;
}