/* CONSTANTS */

$primary-color: #f26b5b;
$breakpoints: (tablet: 768px, desktop: 992px, large: 1200px);
$container-margin-small: 1rem;
$container-margin-medium: 3.5rem;
$container-margin-large: 8.75rem;
$navbar-height: 5rem;
$animation-timing: 133ms;

/* MIXINS */

@mixin breakpoint($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}

.container {
  margin-left: $container-margin-small;
  margin-right: $container-margin-small;
  
  @include breakpoint(tablet) {
    margin-left: $container-margin-medium;
    margin-right: $container-margin-medium;
  }

  @include breakpoint(large) {
    margin-left: $container-margin-large;
    margin-right: $container-margin-large;
  }
}
